.code {
  font-size: 0.8rem;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before {
  content: "" !important;
}
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "" !important;
}

:not(pre) code {
  @apply border border-gray-300 bg-gray-50 px-0.5 dark:border-gray-700 dark:bg-gray-800;
}

.callout code {
  @apply border-none bg-transparent px-0;
}
